#include "resource.h"

IDI_ICON1 ICON "clip.ico"
IDB_FOLDER_ICON RCDATA "images/file.png"
IDB_NOEXIST_ICON RCDATA "images/noexist.png"
IDB_TOPMOST_SELECTED RCDATA "images/topmost-selected.png"
IDB_TOPMOST_UNSELECTED RCDATA "images/topmost-unslected.png"
